#__PLUGIN_SLUG__-admin-ui-root {
  max-width: 960px;
  margin-top: 16px;
}

#__PLUGIN_SLUG__-admin-ui-root h1 {
  margin-bottom: 0;
}

#__PLUGIN_SLUG__-admin-ui-root .components-card {
  max-width: 100%;
}
